@model List<EstateListDto>
<h4>Emlaklar</h4>

<a asp-controller="Estate" asp-action="AddDaire" class="btn btn-primary">Yeni Daire</a>
<a asp-controller="Estate"  class="btn btn-primary">Yeni Arsa</a>
<a asp-controller="Estate" class="btn btn-primary">Yeni Dükkan</a>
<br />




<div class="table-responsive">
    <table class="table table-bordered  table-light table-hover caption-top">

        <tr>
            <th class="text-md-center bs-td">
                Başlık
            </th>
            <th class="text-md-center bs-td">
                Emlak Tipi
            </th>

            <th class="text-center bs-td">
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr style="background-color:#FFF">
                <td class="text-start align-middle">
                    @item.Baslik
                </td>
                
                <td class="text-md-center align-middle">
                    @if (item.Islem == 1)
                    {<p>Satılık</p> }
                    else
                    { <p>Kiralık</p>}
                </td>
                <th class="text-end align-middle">
                    <a asp-action="UpdateDaire" asp-controller="estate" asp-route-id="@item.Id" class="btn btn-success">Düzenle</a>
                    
                    <a asp-action="KiraKontCreate" asp-controller="estate" asp-route-id="@item.Id" class="btn btn-primary">Kira Kontratı Oluştur</a>
                </th>
            </tr>

        }

    </table>
</div>